.button {
  border-radius: 5px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid rgb(235, 195, 64);
  transition: background-color 0.2s ease-in-out;
}

.buttonLight {
  background-color: white;
  color: black;
}

.buttonDark {
  background-color: #242424;
  color: white;
}

.button:hover {
  background-color: rgb(235, 195, 64);
}