.commentBox {
    border-bottom: 1px solid #00000047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 14px;
}

.description {
    color: gray;
    display: flex;
    gap: 5px;
}
